body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#002b5b;
color:white;
text-align:center;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
background:#0a6cff;
color:white;
}

.btn{
background:white;
color:#0a6cff;
padding:10px 20px;
text-decoration:none;
font-weight:bold;
}

.features{
display:flex;
justify-content:space-around;
padding:40px;
background:white;
}

footer{
text-align:center;
padding:20px;
background:#002b5b;
color:white;
}